<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="FBMS-Modernization Tests">
	<test name="Tests">
		<classes>
			<class name="com.fbms.foe.nongbr.test.LoginTest">
				<!-- <methods>
					<include name="updateValuesAndCancel"></include>
					<include name="updateValues"></include>
				</methods> -->
			</class>
		</classes>
	</test>
</suite>